@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --color-bg: #ffffff;
  --color-text: #000000;

  /* navbar */
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --nav-icon-color: #6dd6da;
  --nav-transition-speed: 600ms;
}
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: var(--icon-color);
}

main {
  margin-left: 6rem;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
}