@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

:root {
  font-size: 16px;
  font-family: "Open Sans";
  --color-bg: #141418;
  --color-text: #b6b6b6;
  --bg-primary: #23232e;
  --bg-secondary: #141418;

  /* navbar */
  --nav-text-primary: #b6b6b6;
  --nav-text-secondary: #ececec;
  --nav-bg-primary: #23232e;
  --nav-bg-secondary: #141418;
  --nav-icon-color: #6dd6da;
  --nav-icon-disabled: hsl(0, 60%, 64%);
  --nav-transition-speed: 600ms;
}
html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}
body::-webkit-scrollbar-track {
  background: #1e1e24;
}
body::-webkit-scrollbar-thumb {
  background: var(--nav-icon-color);
}

main {
  margin-left: 5rem;
  padding: 1rem;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: var(--color-text);
}

a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 600px) {
  main {
    margin: 0;
  }
}
