.profileImage {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  float: left;
}
.userInfo {
  margin-bottom: 2rem;
}
.header {
  display: flex;
}
.header h1,
.header p {
  margin: 0;
}
.header p {
  margin-left: 0.25rem;
}

.main {
  display: grid;
  grid-template-rows: 1fr auto;
}
